
.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navList li {
  display: inline-block;
}

.navList a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
